*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
}

main img{
    margin: 20px auto;
    width: 100%;
}