* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

p {
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic",
    メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

/* ---------------header-------------------*/

header {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

main img {
  margin: 20px auto;
  width: 100%;
}

/* -----------------about-------------------- */
section {
  padding: 10% 0 0 0;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #1ca547;
  font-size: 2rem;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

.text h3 {
  margin-bottom: 20px;
}

.text p {
  font-size: 1rem;
}

/* ---------------services------------- */
#services-wrapper {
  background-color: rgba(28, 165, 71, 0.2);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  column-gap: 0;
  justify-content: space-evenly;
  padding: 10% 10%;
}

.services-container {
  text-align: center;
}

.services-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.services-text {
  /* text-align: center; */
}

.icons {
  font-size: 8rem;
  margin: 20px 0;
}

.services-content {
  margin-top: 40px;
}
header{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    margin: 10px;
    list-style-type: none;
}

/* header p{
    margin-right: 55px;
} */
    
    
header a{
    text-decoration: none;
    color: green;
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgreen;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


/* CSS for Manual Slide Navigation */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: blue;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}




.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: blue;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: blue;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: blue;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: blue;
}

